body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color:hsl(185, 75%, 39%);
}
.outer-container{
   margin: auto;
   display: flex;
   flex-direction: column;
   width: 450px;
   height: 475px;
   position: relative;
   margin-top: 150px;
   border-radius: 20px;
   background-color: white;
   margin-bottom: 20px;
}
.container-image{
    width: 100%;
    height: 200px;
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.inner-bottom-container{
    display: flex;
    flex-direction: row;
}
.profile-image{
    position: relative;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 175px;
    border: 5px solid white;
}
.name{
    display: inline-block;
    margin-left: -150px;
}
.age{
    display: inline-block;
    margin-left: 10px;
    color: gray;
    font-size: 24px;
}
.location{  
    margin-top:-5px;
    margin-left: 200px;
    color: gray;
    margin-bottom: 25px;
}
.inner-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid lightgray;
}
.Followers-h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -10px;
}
.Likes-h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -10px;
}
.photos-h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -10px;
}
p{
    color: gray;
}
.bottom-para{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blot-1{
    z-index: -1;
    position: absolute;
    rotate: 100deg;
    top: -400px;
    left: -100px;
}
.blot-2{
    z-index: -1;
    position: absolute;
    left: 900px;
    top: 500px;
    rotate: -320deg;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }